@import 'colors.scss';
.board{
    min-width: 40rem;
    padding: 1rem;
    background: $board;
    border-radius: 2px;
    // border: 2px solid $border;
    box-shadow: 4px 4px 12px rgba($color: #000, $alpha: .2);
}