@import 'colors.scss';
.button{
    height: 2rem;
    width:2rem;
    border: 1px $border solid;

}  

.button:active{
    background: $clicked;
}

.active{
    border-color: $border-light;
}
.disabled{
    background-color: $inactive;
}