@import 'colors.scss';
.bpmSection{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.bpmLabel{
    color: $text;
    flex: 1;
}
.bpmScale{
    margin-left: .5rem;
    flex: 0 0 32rem;
}
.settings{
  display: flex;
  justify-content: space-between;
}
.settings button{
  box-sizing: border-box;
  border: none;
  padding: .25rem 1rem;
  margin-right: .5rem;
  color: $text;
  background: $inactive;
  font-weight: 700;
  border: 1px solid $border;
}
.settings .dropDown{
  background: $inactive;
  color: $text;
  font-size: .8rem;
  font-weight: 700;
  border: 1px solid $border;
}
.settings option{
  font-size: .8rem;
  font-weight: 700;
}
input[type="range"]{
    -webkit-appearance:none;
    width:160px;
    height:20px;
    background: linear-gradient(to right, $border 0%, $border 100%);
    background-size:100% 10px;
    background-position:center;
    background-repeat:no-repeat;
    overflow:hidden;
    outline: none;
  }
  
  
  input[type="range"]::-webkit-slider-thumb{
    -webkit-appearance:none;
    width:10px;
    height:20px;
    background: $text;
    position:relative;
    z-index:3;
    box-shadow:0 0 5px 0 rgba(0,0,0,0.3);
  }
  
//   input[type="range"]::-webkit-slider-thumb:after{
//     content:" ";
//     width:160px;
//     height:10px;
//     position:absolute;
//     z-index:1;
//     right:20px;
//     top:5px;
//     background: #ff5b32;
//     background: linear-gradient(to right, #f088fc 1%, #AC6CFF 70%);
//   }

