.button{
    height: 1rem;
    width: 1rem;
    margin-right: .5rem;
    border: 1px black solid;
}  
.button:active{
    background: darkgray;
}
.button:nth-child(4n+5){
    margin-right: 1rem;
}
.active{
    background-color: orange;
}
.disabled{
    background-color: lightgray;
}